<!DOCTYPE html>
<html>
    <head>
		<base href="./../">
        <meta charset="UTF-8">
        <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'"> -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet/less" type="text/css" href="./styles/style.less">

		<script src="./scripts/dev/less.js" data-env="development" type="text/javascript"></script>
		<script>less.watch()</script>
		
		
		<title>Soundboard</title>
    </head>
    <body>
		<header>
			<div>MrNightFury's Soundboard</div>
		</header>
		<main>
			<div id="soundsContainer">
				
			</div>
		</main>
		
		<script src="./scripts/mainScreen.js"></script>
	</body>
	<footer>
		
	</footer>
</html>